.contact-container {
    display: flex;
    justify-content: center;
}

.contact-container .contact-info {
    width: 300px;
    text-align: left;
    font-size: 20px;
}

.contact-container .section .contact-type {
    display: flex;
    flex-direction: column;
}

.contact-container .contact-info i {
    margin: 20px;
}