.home-container {
    padding-top: 120px;
}

.about-section {
    display: -webkit-inline-box;
}
.about-section img {
    margin: 25px;
    width: 200px;
}

.about-section p {
    margin-top: 25px;
    width: calc(100% - 300px);
    line-height: 30px;
    text-align: left;
}

.about-section p strong {
    font-size: 20px;
}

.clients-and-partners-logo,
.charities-we-support-logo {
    width: 70%;
    padding-left: 15%;
}

.clients-and-partners-logo img,
.charities-we-support-logo img {
    max-width: 150px;
    padding: 20px;
}
