nav {
    width: 196px;
}

.left-body ul {
    margin-top: 50px;
    margin-left: 40px;
    padding: 0;
}

.left-body ul li {
    list-style: none;
}

.left-body ul li a {
    text-decoration: none;
    font-size: 15px; 
    color: #2d499a;
}

.active {
    font-weight: bold;
}

@media screen and (max-width:980px) {
    nav.left-body {
        display: none;
    }
}