.real-estate-container iframe {
    width: 853px;
    height: 480px;
}

.gallery-section {
    width:100%;
}

.gallery-section img {
    width: 30%;
    margin: 1%;
}

.partners-logo {
    width: 70%;
    padding-left: 15%;
}

.partners-logo img {
    max-width: 150px;
    padding: 20px;
}

.real-estate-container .pricing-section ul {
    padding: 0;
}

.real-estate-container .pricing-section ul li {
    list-style: none;
    font-size: 27px;
}

/* @media screen and (max-width: 1024px) {
    .real-estate-container iframe {
        width: 500px;
    }
} */