.real-estate-container iframe {
    width: 853px;
    height: 480px;
}

.gallery-section {
    width:100%;
}

.gallery-section img {
    width: 30%;
    margin: 1%;
}

.partners-logo {
    width: 70%;
    padding-left: 15%;
}

.partners-logo img {
    max-width: 150px;
    padding: 20px;
}

.pricing-section table {
    width: 100%;
    line-height: 35px;
    border-collapse: collapse;
    border: 1px solid #2d499a1c;
}

#root > div > div > div > div.section.pricing-section > table > tr:nth-child(1) {
    font-size: 20px;
    background: #2d499a1c;
}

/* #root > div > div > div > div.section.pricing-section > table > tr:nth-child(1) th {
    border: 1px solid #2d499a1c;
} */

#root > div > div > div > div.section.pricing-section > table > tr:nth-child(1) > th:nth-child(2) > span {
    text-decoration: underline;
}

.pricing-section table tr td {
    height: 151px;
    border-bottom: 1px solid #2d499a1c;
}

.pricing-section table tr td:first-child {
    border-right: 1px solid #2d499a1c;
}

.pricing-section table tr:last-child td {
    border-bottom: none;
}

.service-type-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-type-detail-title {
    font-size: 25px;
}

.service-type-detail-desc {
    font-size: 15px;
    color: #55b464;
}

.service-type-detail-bonus-flag {
    border: 1px solid #2d499a1c;
    border-radius: 10px;
}

.service-type-detail-bonus-flag {
    width: 160px;
}

.limited-price, .bonus-limited-price {
    color: #55b464;
    font-weight: bold;
}

.limited-price {
    font-size: 25px;
}

.bonus-limited-price {
    font-size: 17px;
}

.original-line-cross-out, .bonus-original-line-cross-out {
    text-decoration: line-through;
}

.bonus-original-line-cross-out {
    font-size: 12px; 
}

.learn-more-text {
    font-size: 20px;
}

@media screen and (max-width: 980px) {
    .real-estate-container iframe {
        width: 711px;
        height: 400px;
    }
    .partners-logo img {
        max-width: 100px;
    }
    /* .pricing-section table {
        width: 80%;
        margin-left: 10%;
    } */
}

@media screen and (max-width: 768px) {
    .real-estate-container iframe {
        width: 533px;
        height: 300px;
    }
    .gallery-section img {
        width: 40%;
    }
    .real-estate-container .pricing-section ul li {
        font-size: 20px;
    }
}

@media screen and (max-width:600px) {
    .partners-logo {
        width: 100%;
        padding-left: 0%;
    }
    .service-type-detail-title {
        font-size: 20px;
    }
    .limited-price {
        font-size: 20px;
    }
    .bonus-limited-price {
        font-size: 15px;
    }
}

@media screen and (max-width: 550px) {
    .real-estate-container iframe {
        width: 356px;
        height: 200px;
    }
    .gallery-section img {
        width: 64%;
    }
}

@media screen and (max-width: 350px) {
    .real-estate-container iframe {
        width: 320px;
        height: 180px;
    }
}