.real-estate-container iframe {
    width: 853px;
    height: 480px;
}

.gallery-section {
    width:100%;
}

.gallery-section img {
    width: 30%;
    margin: 1%;
}

.partners-logo {
    width: 70%;
    padding-left: 15%;
}

.partners-logo img {
    max-width: 150px;
    padding: 20px;
}

.real-estate-container .pricing-section ul {
    padding: 0;
}

.real-estate-container .pricing-section ul li {
    list-style: none;
    font-size: 27px;
}

.learn-more-text {
    font-size: 20px;
}

@media screen and (max-width: 980px) {
    .real-estate-container iframe {
        width: 711px;
        height: 400px;
    }
    .partners-logo img {
        max-width: 100px;
    }
}

@media screen and (max-width: 768px) {
    .real-estate-container iframe {
        width: 533px;
        height: 300px;
    }
    .gallery-section img {
        width: 40%;
    }
    .real-estate-container .pricing-section ul li {
        font-size: 20px;
    }
}

@media screen and (max-width:600px) {
    .partners-logo {
        width: 100%;
        padding-left: 0%;
    }
}

@media screen and (max-width: 550px) {
    .real-estate-container iframe {
        width: 356px;
        height: 200px;
    }
    .gallery-section img {
        width: 64%;
    }
}

@media screen and (max-width: 350px) {
    .real-estate-container iframe {
        width: 320px;
        height: 180px;
    }
}