
.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex; 
}

.right-body {
  /* background: whitesmoke; */
  width: calc(100% - 196px);
  position: relative;
}

.page-container {
  width: 90%;
  height: -webkit-fill-available;
  padding-top: 150px;
  overflow-y: auto;
}

.page-container::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.section {
  width: 100%;
  text-align: center;
}